/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 mar 2024, 11:14:48
    Author     : juanr
*/
.login{
    -fx-background-image:url('juridico.jpg');
    -fx-background-repeat:no-repeat;
    -fx-background-size: stretch;
}
